body {
    margin: 0;
}

.board {
    height: 100vh;
    background: url("./images/tlo.jpg");
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;
    cursor: none;
}

.score {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: #FFF;
    position: absolute;
    right: 30px;
    top: 30px;
}

.cursor {
    width: 136px;
    height: 136px;
    background: url("./images/cursor.png");
    z-index: 1000;
    position: absolute;
    left: -9999px;
    top: -9999px;
    pointer-events: none;
}

.zombie {
    width: 200px;
    height: 312px;
    background: url("./images/walkingdead.png");
    animation:
            zombieWalk 0.5s 0s infinite steps(9),
            zombieMove 5s 0s 1 linear;
    position: absolute;
    left: 110%;
    bottom: 100px;
    transform-origin: 50% 100%;
}

.zombie span {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-10%, 0);
    width: 60px;
    height: 5px;
    background: red;
    display: block;
    border-radius: 20%;
}


@keyframes zombieWalk {

    100% {
        background-position: -1800px 0;
    }

}

@keyframes zombieMove {
    0% {

        left: 110%
    }

    100% {
        left: -300px;
    }
}

